/* styles.css */
.app {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
/* .app-subsection {
  
} */
  
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.password-list {
  margin-top: 20px;
}

.password-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
}